# Maven
/backend/target/
*.log
/backend/.mvn/timing.properties
/backend/.mvn/wrapper/maven-wrapper.jar

# Archivos generados por Angular y Node
/frontend/dist
/frontend/node_modules
/frontend/.angular
/frontend/.cache
